_site
node_modules
npm-debug.log
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.sh
desktop.ini
img/desktop.ini
*.config
yulib.resource/_posts/2019-02-18-This-new-Windows-software-may-be-your-favorite-weapon-Quicker.resource/commit.json
